/* estilo header*/
header {
    background: linear-gradient(269.77deg, #052CB4 0.05%, #2D8497 60.17%, #000207 100%);;
}
header img{
    width: 160px;
}
header nav{
    float: right;
    
}
.container-fluid {
    float: right;
}


/* estilo menu do header*/
.linkMenu{

    text-decoration: none;
    margin: 20px 10px 0px;
    text-transform: capitalize;
    color: rgb(221, 18, 18);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
}

.texto-centralizado{
    text-align: center;
}

/*card*/
.grupo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}
.card {
    display: table;
    width: 238px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 10px;
}
.card img {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.card div {
    padding: 10px;
}
.card-body{
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width: 50%;
    text-align: center;
}

/*footer*/
footer {
    background: linear-gradient(269.77deg, #052CB4 0.05%, #2D8497 60.17%, #000207 100%);
    display: grid;
    grid-template-areas: 
    'imagem-logo enderecos1 midias-sociais'
    'imagem-logo enderecos2 midias-sociais'
    'imagem-logo enderecos3 midias-sociais';
    padding: 40px;
    
}
.enderecos-rodape1 p{
    color: cyan;
}
.enderecos-rodape2 p{
    color: cyan;
}
.enderecos-rodape3 p{
    color: cyan;
}


#midias-sociais {
    grid-area: midias-sociais;
}
#midias-sociais img {
    height: 40px;
}
